*{
    margin: 0;
}
nav{
    /* background-color: #333; */
    color: white;
    padding: 10px;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
nav ul li a{
    color: #bbb9b9;
    text-decoration: none;
}

nav ul li a:hover{
    color: greenyellow;
    text-decoration: underline;
}
section{
    padding: 20px;
}
footer{
    background-color: #2858de;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 30dvh;
}

#contactdiv{
    color: rgb(235, 96, 16);
}
input[type=text],input[type=password],input[type=number]{
    width: 305px;
    height: 40px;
    padding: 0px 15px;
    background-color: #b3b0b0;
    border-radius: 50px;
}
.gen{
    height: 40px;
    background-color: #b3b0b0;
    padding: 10px;
    border-radius: 50px;
}

#contact{
    height: 72dvh;
    padding: 50px 50px;
    color: rgb(3, 3, 3);
    border: 2px solid #333;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
    appearance:textfield;
  }